# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=social_net
DB_USER=postgres
DB_PASS=postgres

# Authentification configuration
AUTH_SECRET=your_auth_sekret_key

# Email configuration
SMTP_PORT=2525
SMTP_HOST=smtp.server.com
SMTP_USER=example@example.com
SMTP_PASSWORD=password

# redis configuration
REDIS_HOST=redis
REDIS_PORT=5370
